{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">


    <br><br><br><br>
      <h2>Registeration Page! </h2>
      <br/>
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>There are errors in the form!</p>
        {% endif %}
      <br>
      <p>username:  {{ form.username}} </p>


      <br> password:  {{ form.password1}} </p>

      <p> confirm password:  {{ form.password2}} </p>




        <input type="submit" value="Register">
      </form>

  <br><br><br><br>
{% endblock content %}
